<p-toast></p-toast>
<mat-card style="width: 450px;
    margin-left: auto;
    margin-right: auto;
    background-color: lightyellow;">

  <!--img src="../../assets/img/mizuno_wave2.jpg"  class="article-image" style="width: 415px;"-->
  <div class="field grid">
    <label class="col" for="name">Name</label>
    <input class="col" type="text" pInputText id="name" [(ngModel)]="defaultProduct.name" autofocus />
  </div>
  <div class="field grid">
    <label class="col" for="description">Description</label>
    <textarea class="col" id="description" pInputTextarea [(ngModel)]="defaultProduct.description" rows="3"
      cols="20"></textarea>
  </div>
  <div class="field grid">
    <label class="col" for="inventoryStatus" style="padding-right: 0px;">Inventory Status</label>
    <p-dropdown class="col" [(ngModel)]="defaultProduct.inventoryStatus" inputId="inventoryStatus" [options]="statuses"
      placeholder="Select">
      <ng-template let-option pTemplate="item">
        <span [class]="'article-badge status-' + option.value">{{option.label}}</span>
      </ng-template>
    </p-dropdown>
  </div>

  <div class="field">
    <label class="mb-3">Category</label>
    <div class="formgrid grid">
      <div class="field-radiobutton col-6">
        <p-radioButton id="category1" name="category" value="Accessories" [(ngModel)]="defaultProduct.category">
        </p-radioButton>
        <label for="category1">Accessories</label>
      </div>
      <div class="field-radiobutton col-6">
        <p-radioButton id="category2" name="category" value="Clothing" [(ngModel)]="defaultProduct.category">
        </p-radioButton>
        <label for="category2">Clothing</label>
      </div>
      <div class="field-radiobutton col-6">
        <p-radioButton id="category3" name="category" value="Electronics" [(ngModel)]="defaultProduct.category">
        </p-radioButton>
        <label for="category3">Electronics</label>
      </div>
      <div class="field-radiobutton col-6">
        <p-radioButton id="category4" name="category" value="Fitness" [(ngModel)]="defaultProduct.category">
        </p-radioButton>
        <label for="category4">Fitness</label>
      </div>
    </div>
  </div>

  <div class="formgrid grid">
    <div class="field col">
      <label for="price">Price</label>
      <p-inputNumber id="price" [(ngModel)]="defaultProduct.price" mode="currency" currency="USD" locale="en-US">
      </p-inputNumber>
    </div>
    <div class="field col">
      <label for="quantity">Quantity</label>
      <p-inputNumber id="quantity" [(ngModel)]="defaultProduct.quantity"></p-inputNumber>
    </div>
  </div>


  <span class="p-buttonset">
    <button pButton pRipple label="Cancel" class="button-text p-button-danger" style="width: 207.5px;" (click)="cancel()"></button>
    <button pButton pRipple label="Save" class="button-text p-button-success" style="width: 207.5px;" (click)="save()"></button>
  </span>
</mat-card>