<p-toast [style]="{width: showShortToast ? '350px' : '400px' }" baseZIndex.number="99999999"></p-toast>
<div class="main">
  <app-menu *ngIf="isUserLoggedIn"></app-menu>
  <header *ngIf="isUserLoggedIn"><img class="logo" src="../assets/img/logo_name.png"></header>

  <div *ngIf="isUserLoggedIn && isReceiving">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-primary" (click)="showReceivingComp()">Receiving</button>
      <button type="button" class="btn btn-secondary" (click)="showCheckProdComp()">Product check</button>
    </div>
  </div>
  <router-outlet></router-outlet>

  <button class="log-out-btn btn btn-danger" *ngIf="isUserLoggedIn && isUserStation" (click)="logOff()">Log Out</button>
  <footer *ngIf="isUserLoggedIn && !isUserStation">
    <nav>
      <ul class="">
        <li (click)="navigateToMain()"><i class="fas fa-home nav_icon"></i></li>
        <li (click)="toAdmin()" [hidden]="!isUserAdmin"><i class="fas fa-user-cog nav_icon"></i></li>
        <li (click)="checkout()"><i class="fas fa-cash-register nav_icon"></i></li>
        <li (click)="toShoppingList()"><i class="fa-solid fa-list-check nav_icon"></i></li>
        <li (click)="toProducts()"><i class="fas fa-apple-alt nav_icon"></i></li>
        <li (click)="toAccount()"><i class="fas fa-user nav_icon"></i></li>
      </ul>
    </nav>
  </footer>
</div>
