.container {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 450px;
  margin-top: 30px;
}

@media(max-width: 767px) {
  .container {
    height: 500px;
  }
}

.container h3 {
  text-align: center;
}

.col.search {
  margin: auto 0;
  text-align: center;
}

div.row {
  min-height: 410px;
}

.search button {
  margin: 10px 0;
  width: 55%;
}

.col {
  margin: 0 auto;
}

input {
  width: 250px;
}
