<p-toast></p-toast>

<div class="card">
  <div class="row">
    <div class="col-md-6 col-lg-6  cart">
      <div class="title">
        <div class="col" style="margin-bottom: 25px">
          <h4><b>Add new product</b></h4>
        </div>

        <div class="field grid">
          <label class="col" for="name">Name</label>
          <input class="col" type="text" id="name" [(ngModel)]="defaultProduct.name">
        </div>
        <div class="field grid">
          <label class="col" for="description">Description</label>
          <textarea class="col" id="description" pInputTextarea [(ngModel)]="defaultProduct.description" rows="3"
                    cols="20"></textarea>
        </div>
        <div class="field grid">
          <label class="col" for="status" style="padding-right: 0px;">Inventory Status</label>
          <p-dropdown class="col" [(ngModel)]="defaultProduct.status" id="status" [options]="statuses"
                      placeholder="Select">
            <ng-template let-option pTemplate="item">
              <span [class]="'article-badge status-' + option.value">{{option.label}}</span>
            </ng-template>
          </p-dropdown>
        </div>

        <div class="field">
          <label class="mb-3">Category</label>
          <div class="formgrid grid">
            <div class="field-radiobutton col-6">
              <p-radioButton id="category1" name="category" value="Accessories" [(ngModel)]="defaultProduct.category">
              </p-radioButton>
              <label for="category1">Accessories</label>
            </div>
            <div class="field-radiobutton col-6">
              <p-radioButton id="category2" name="category" value="Clothing" [(ngModel)]="defaultProduct.category">
              </p-radioButton>
              <label for="category2">Clothing</label>
            </div>
            <div class="field-radiobutton col-6">
              <p-radioButton id="category3" name="category" value="Electronics" [(ngModel)]="defaultProduct.category">
              </p-radioButton>
              <label for="category3">Electronics</label>
            </div>
            <div class="field-radiobutton col-6">
              <p-radioButton id="category4" name="category" value="Fitness" [(ngModel)]="defaultProduct.category">
              </p-radioButton>
              <label for="category4">Fitness</label>
            </div>
          </div>
        </div>


        <div class="field grid ">
          <label class="col" for="price">Price</label>
          <p-inputNumber class="col" id="price" [(ngModel)]="defaultProduct.price" mode="currency" currency="USD"
                         locale="en-US">
          </p-inputNumber>
        </div>
        <div class="field grid ">
          <label class="col" for="brand">Brand</label>
          <input class="col" id="brand" [(ngModel)]="defaultProduct.brand">
        </div>
        <div class="field grid ">
          <label class="col" type="text" for="barcode">Barcode</label>
          <input class="col" type="text" id="barcode" [(ngModel)]="defaultProduct.barcode">
        </div>

        <div class="field grid ">
          <label class="col" type="text" for="rfid">RFID</label>
          <input class="col" id="rfid" type="text" disabled placeholder="RFID" name="rfid"
                 [(ngModel)]="defaultProduct.rfId">
        </div>



      </div>
    </div>
    <div class="col-md-6 col-lg-6  summary">
      <div class="container">

        <i class="fa-solid fa-x close-btn" (click)="cancel()"></i>
      </div>
      <div>
        <h5><b>Add image</b></h5>
      </div>
      <hr>

      <div class="container" style="text-align: center; min-height: 200px">

        <label class="image-upload-container">
          <label for="imgInput"><img id="img-preview" src="assets/img/up.png"></label>
          <input id="imgInput" #imageInput
                 type="file"
                 accept="image/*"
                 (change)="showPreview(imageInput)" hidden>
        </label>
      </div>

      <button class="btn" (click)="save()">Submit</button>
    </div>
  </div>
</div>
