<header>
  <img class="logo" src="../../assets/img/logo_name.png" alt="ez_shopping logo" (click)="navigateToMain()">
  <nav>
    <ul class="nav_links">
      <li (click)="navigateToMain()"><a class="nav_text">Home</a><i class="fas fa-home nav_icon" ></i></li>
      <li (click)="toAdmin()" [hidden]="!isUserAdmin"><a class="nav_text" >Admin Page</a><i class="fas fa-user nav_icon" ></i></li>
      <li><a class="nav_text">Checkout</a><i class="fas fa-cash-register nav_icon" ></i></li>
      <li (click)="toProducts()"><a class="nav_text">Articles</a><i class="fas fa-apple-alt nav_icon" ></i></li>
      <li (click)="toAccount()"><a class="nav_text">Account</a><i class="fas fa-user nav_icon"></i></li>
    </ul>
  </nav>
</header>
