<div class="card" [ngClass]="addNewProduct ? 'cont' : ''">
  <div class="">
    <p-button type="button" icon="pi pi-plus" styleClass="p-button-text" (onClick)="enableAddProductComp()"></p-button>
    <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text" (onClick)="loadProducts()"></p-button>
  </div>

  <p-table [value]="products" [paginator]="true" [rows]="10" [totalRecords]="products.length" [showCurrentPageReport]="true" responsiveLayout="scroll"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Category</th>
        <th>Price</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr (click)="updateProd(product)">
        <td>{{product.name}}</td>
        <td>{{product.status}}</td>
        <td>{{product.category}}</td>
        <td>{{product.price}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
